body {
    padding-top: 80px;
    font-family: 'Plus Jakarta Sans';
    background-color: #f8f8f8;
}


.btn-primary:hover {
    background: #fab607 !important;
    border: 1px solid #fab607 !important;
    color: #2e2e2e !important;
}

.navbar {
    justify-content: center !important;
}

.navbar .container {
    justify-content: center !important;
    padding: 5px 10px !important;
    border-radius: 12px !important;
    background-color: #f8f8f8d6;
    border: 1.5px solid #d7d7d7;
}


.navbar-collapse {
    justify-content: center !important;
}

.logo {
    color: #333;
    font-family: 'Nunito';
    text-transform: uppercase !important;
    font-size: 18px;
    padding: 0px 9px;
}

.navbar-nav li a {
    color: #2e2e2e;
    transition: color 0.3s ease;
    font-size: 15px;
    transition: 0.3s ease !important;



}


.navbar-nav li a:hover {
    color: #5a2eac;
}



.hire-btn {
    padding: 9px 20px !important;
    border-radius: 9px !important;
    font-weight: 500;
    font-size: 14px !important;
    transition: background 0.3s ease !important;
}

.hire-btn:hover {
    background-color: #fab607;
    color: #333;
    font-weight: 500;
}


.hero-section h1 {
    max-width: 600px;
    font-family: "Bebas Neue";
    font-weight: 400;
    font-size: 120px;

}

.hero-section p {
    font-size: 16px;
    color: #424141;
    max-width: 470px;
    text-align: center;
}


.scroll img {
    width: 30px;
    height: auto;
}



.scroll {
    text-decoration: none;
    color: #162031;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    padding: 8px 8px 8px 14px;
    border: 1px solid;
    border-radius: 500px;
    transition: background 0.3s ease !important;
}

.scroll:hover {
    text-decoration: dashed;
    color: #5a2eac;
}

.line {
    margin: 0px 70px;
}

.line-wt {
    background-color: #fff;
}

.spacer {
    padding: 20px;
}

.spacer2 {
    padding: 30px;
}

.about-section {
    display: flex !important;
    flex-direction: column !important;
    gap: 1rem !important;
}

.about-img {
    width: 20rem;
}

.about-section img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    aspect-ratio: 1/1;
    box-shadow: 0 4px 12px #0000001a;
}




.required {
    color: #fb6f0b;
}

input,
textarea {
    background: #eceeef !important;
    font-weight: 500 !important;
}

label {
    font-weight: 500 !important;
}

.contact {
    background-color: #fff;
}

.footer-container {
    border-top: 1.5px solid #d7d7d7;
    background: #fff;
}

.logo-about {
    max-width: 300px;
    margin-right: 12px;
}

.footer-links ul h5 {
    font-weight: 900 !important;
}

.footer-links ul {
    margin-top: 15px;
    gap: 12px;
}


.footer-links ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: 0.3s ease !important;
}

.footer-links ul li a:hover {
    color: #5a2eac;
}

.copyright-signature {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 5rem !important;
    border-top: 1.5px solid #d7d7d7;
    background: #fff;
    padding: 1rem !important;
}

.copyright-signature p {
    font-size: 16px !important;
    margin: 0;
    font-weight: bold;
}






@media (max-width:1200px) {
    .copyright-signature {
        gap: 1rem !important;
    }

    .copyright-signature p {
        font-size: 15px !important;
    }
}




@media (max-width:1000px) {
    .copyright-signature {
        gap: 12px !important;
    }

    .copyright-signature p {
        font-size: 14px !important;
    }
}


@media (max-width:780px) {
    .copyright-signature {
        flex-direction: column !important;
        gap: 1rem !important;
    }
}







@media (max-width:575px) {
    .nav-cont {
        max-width: 400px !important;
    }

    .hero-section h1 {
        font-size: 100px !important;
    }

    .copyright-signature {
        flex-direction: column !important;
        gap: 12px !important;
    }
}

@media (max-width:415px) {
    .nav-cont {
        max-width: 330px !important;
    }

    .hero-section h1 {
        font-size: 100px !important;
        max-width: 340px !important;
    }

    .hero-section p {
        max-width: 300px !important;
    }

    .contact-form {
        max-width: 300px;
        
    }
    
    .copyright-signature {
        flex-direction: column !important;
        gap: 1rem !important;
    }

    .copyright-signature p {
        font-size: 15px !important;
    }

}